[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
	branch = FastLED3.1
[submodule "libraries/OctoWS2811"]
	path = libraries/OctoWS2811
	url = https://github.com/PaulStoffregen/OctoWS2811.git
[submodule "libraries/DmxReceiver"]
	path = libraries/DmxReceiver
	url = https://github.com/jimparis/DmxReceiver.git
